@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&display=swap');

:root {
    --clr-yellow: #ffbe0b;
    --clr-orange: #fb5607;
    --clr-pink: #ff006e;
    --clr-purple: #8338ec;
    --clr-blue: #3a86ff;
    --clr-black: #202020;
    --clr-green:#264653;

    --main-font: 'Maven Pro';
}