*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $textFont;
    font-size: 1.5rem;
}

.title {
    font-family: $headerFont;
    font-weight: 600;
    font-size: 2.8rem;
}